body {
    margin: 0
}
.big {
    height: 550px;
    background: grey;
    justify-content: center;
    display: flex;
}
.inside {
    height: 300px;
    background: darkslategrey;
    position: relative;
    top: -450px;
}
.target {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -50px;
    align-items: center;
    justify-content: center;
}
.box {
    height: 200px;
    width: 200px;
    background: purple;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10%;
}
.bl {
    width: 90%;
    height: 100px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.element {
    width: 100px;
    height: 50px;
    background: darkslategrey;
    border-radius: 20%;
}
.icons {
    width: 50px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.fa-magnifying-glass {
    color: purple;
    font-size: 20px;
}
.fa-align-justify {
    color: purple;
    font-size: 20px;
}